* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {

    .App {
        background-image: url("../img/bg.jpeg");
        background-color: #cccccc;
        background-position: center center;

        display: grid;
        grid-template-columns: 25% auto;

        // z-index: -10;
        // position: relative;

        .chart-container {
          font-family: 'Open Sans', sans-serif;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        //   justify-content: space-around;
          align-items: center;

          #zoomed-chart {
              opacity: 0;
              position: absolute;
              margin-top: 30%;
              transition: margin-top 1s, opacity 1s;
                -webkit-transition: margin-top 1s, opacity 1s;
          }

        #basic-chart {
            margin-top: 20%;
            transition: margin-top 1s;
            -webkit-transition: margin-top 1s;
        }

          .graph-container {
              // border: 1px solid black;
              // background-color: lightgrey;
              position: relative;

              .graph-title {
                position: absolute;
                top: calc(5%);
                left: calc(10% + 3px);
                // color: white;
                padding: 1px 5px;
                font-size: 0.7em;
                background-color: rgba(255, 255, 255, 0.7);
              }

              .graph-title-zoomed {
                position: absolute;
                top: calc(5%);
                left: calc(15% + 3px);
                // color: white;
                padding: 1px 5px;
                font-size: 0.7em;
                background-color: rgba(255, 255, 255, 0.7);
              }

              .graph-axis {

                  path {
                      stroke-width: 0;
                  }

                  .tick {
                    color: white;
                      text {
                          font-size: 3px;
                      }

                      line {
                          display: none;
                      }
                  }
              }

              .selection {
                  stroke: none;
              }

              .grid-lines {
                  .tick {
                      stroke-width: 0.1px;
                      stroke-dasharray: 1 1;
                      // color: #333;
                      color: white;
                      stroke-opacity: 0.7;
                  }

                  path {
                      stroke-width: 0.1px;
                      stroke-dasharray: 1 1;
                      // color: #333;
                      color: white;
                      stroke-opacity: 0.7;
                  }

                  .grid-x-lines {
                    path {
                        // display: none;
                    }

                      .tick:nth-child(2) {
                          display: none;
                      }

                      .tick:last-child {
                          display: none;
                      }
                  }

                  .grid-y-lines {

                      .tick:nth-child(2) {
                          display: none;
                      }

                      .tick:last-child {
                          display: none;
                      }
                  }
              }

              .point-circle {
                  stroke: white;
                  stroke-width: 0.6px !important;
                  text {
                    color: white;
                  }
              }
          }
        }
    }

    .footer {
      color: gray;
      text-align: right;
      padding-right: 30px;
      padding-top: 80px;
      height: 80px;
      .author {
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
      a { color: gray;}
    }
  }

@import "controller";
